@keyframes jumping {
    0% {
        bottom: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    100% {
        bottom: 50px;
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    }
}

@keyframes pulse {
    0% {}
    70% {
        box-shadow: 0 0 0 50px rgba(#ff223c, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(#ff223c, 0);
    }
}

.animations {
    &__green {
        padding: 100px 0;
        background: #00a47b;
    }
    &__blue {
        padding: 100px 0;
        background: #6c81c4;
    }
    &__ex {
        text-align: center;
        .a-jump {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid gray;
            border-radius: 10px;
            color: #aaa;
            background: #323643;
            animation: jumping 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
        }
        .a-pulse {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: silver;
            box-shadow: 0 0 0 0 rgba(#ff223c, .5);
            animation: pulse 1.5s infinite;
        }
    }
}