.links-block {
    padding: 50px 0;
    text-align: center;
    background: #435a6b;
}

// #1 line bottom
.link-line {
    margin: 0 15px;
    position: relative;
    padding-bottom: 10px;
    text-decoration: none;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        left: 50%;
        height: 2px;
        background: #fff;
        transition: all 1s ease;
    }
    &:hover {
        &::before,
        &::after {
            width: 50%;
        }
        &::before {
            transform: translateX(-100%);
        }
    }
}