.links {
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
}

.link-line {
    position: relative;
    padding-bottom: 10px;
    text-decoration: none;
    line-height: 50px;
    text-transform: uppercase;
    color: green;
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        left: 50%;
        height: 2px;
        background: green;
        transition: all 1s ease;
    }
    &:hover {
        &::before,
        &::after {
            width: 50%;
        }
        &::before {
            transform: translateX(-100%);
        }
    }
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
//  content: '';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
//    background: url(../img/check.png) 0 0 no-repeat;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}