.responsive-strings {
    max-width: 700px;
    width: 100%;
    p {
        margin-bottom: 10px;
        border-bottom: 1px dotted #000;
    }
    .left {
        display: inline-block;
        vertical-align: top;
        padding-bottom: 2px;
        padding-right: 5px;
        margin-bottom: -1px;
        background: #fff;
    }
    .right {
        float: right;
        padding-bottom: 2px;
        margin-bottom: -1px;
        background: #fff;
    }
}