html {
    font-size: 16px;
    @media #{$tablet} {
        font-size: 14px;
    }
    @media #{$mobile} {
        font-size: 12px;
    }
}
body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}
.center {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    @media #{$tablet} {
        width: 98%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

::-webkit-input-placeholder {
    font-family: 'Calibri';
    color: #434343;
    font-size: 18px;
    text-overflow: ellipsis;
    }
::-moz-placeholder          {
    font-family: 'Calibri';
    color: #434343;
    font-size: 18px;
    text-overflow: ellipsis;
    }/* Firefox 19+ */
:-moz-placeholder           {
    font-family: 'Calibri';
    color: #434343;
    font-size: 18px;
    text-overflow: ellipsis;
}/* Firefox 18- */
    :-ms-input-placeholder      {
    font-family: 'Calibri';
    color: #434343;
    font-size: 18px;
    text-overflow:ellipsis;
}
.words-first,
.words-last {
    span {
        color: red;
    }
}