@charset "UTF-8";
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/assets/img/city.jpg) center/cover no-repeat; }
  .header__top {
    height: 20px; }
    .header__top .hamburger {
      position: absolute;
      right: 10px; }
      .header__top .hamburger .hamburger-box {
        width: 30px; }
      .header__top .hamburger .hamburger-inner,
      .header__top .hamburger .hamburger-inner::after,
      .header__top .hamburger .hamburger-inner::before {
        height: 2px;
        width: 30px;
        border-radius: 0;
        color: #fff;
        background-color: #fff; }

.mm-navbar .mm-title img {
  width: 128px;
  height: auto; }

.block {
  padding: 50px 0 70px;
  text-align: center;
  height: 100%; }
  .block .block-content {
    display: inline-block;
    margin: 25px 15px 25px;
    width: 45%;
    height: 250px;
    background: rgba(255, 255, 255, 0.3); }

.color {
  height: 450px;
  background: silver; }

.block-bg-1 {
  background: url(/assets/img/block-img1.jpg) center/cover no-repeat;
  background-attachment: fixed; }

.block-bg-2 {
  background: url(/assets/img/block-img2.jpg) center/cover no-repeat;
  background-attachment: fixed; }

.block-bg-3 {
  background: url(/assets/img/block-img3.jpg) center/cover no-repeat;
  background-attachment: fixed; }

.block-bg-4 {
  background: url(/assets/img/block-img4.jpg) center/cover no-repeat;
  background-attachment: fixed; }

.block-bg-5 {
  background: url(/assets/img/block-img5.jpg) center/cover no-repeat;
  background-attachment: fixed; }

.links {
  margin: 0 auto;
  max-width: 750px;
  width: 100%; }

.link-line {
  position: relative;
  padding-bottom: 10px;
  text-decoration: none;
  line-height: 50px;
  text-transform: uppercase;
  color: green; }
  .link-line::before, .link-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    height: 2px;
    background: green;
    transition: all 1s ease; }
  .link-line:hover::before, .link-line:hover::after {
    width: 50%; }
  .link-line:hover::before {
    transform: translateX(-100%); }

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer; }

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em;
  left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s; }

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.c-radio input[type="radio"] {
  display: none; }

.c-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px; }
  .c-radio label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-radius: 8px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8); }

.c-radio input[type=radio]:checked + label:before {
  content: "\2022";
  color: #f3f3f3;
  font-size: 30px;
  text-align: center;
  line-height: 18px; }

.c-checkbox {
  margin-top: 10px; }
  .c-checkbox input[type="checkbox"] {
    display: none; }
  .c-checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px; }
    .c-checkbox label::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      border: 1px solid #000;
      background-color: #fff; }
  .c-checkbox input[type=checkbox]:checked + label:before {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: #f3f3f3;
    border: 1px solid green;
    text-align: center;
    line-height: 15px;
    background: url(/assets/img/check.png) center no-repeat; }

.test {
  margin-top: 50px; }
  .test ul li {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid silver; }
    .test ul li a {
      display: block;
      line-height: 30px; }

.social {
  margin: 20px 0; }
  .social li {
    display: inline-block; }

.icon {
  display: inline-block;
  width: 43px;
  height: 42px;
  background-image: url(/assets/img/sprite/social.png); }

.icon-bw-ic-1 {
  background-position: 0px 0px; }
  .icon-bw-ic-1:hover {
    background-position: 0px -260px; }

.icon-bw-ic-2 {
  background-position: 0px -52px; }
  .icon-bw-ic-2:hover {
    background-position: 0px -312px; }

.icon-bw-ic-3 {
  background-position: 0px -104px; }
  .icon-bw-ic-3:hover {
    background-position: 0px -364px; }

.icon-bw-ic-4 {
  background-position: 0px -156px; }
  .icon-bw-ic-4:hover {
    background-position: 0px -416px; }

.icon-bw-ic-5 {
  background-position: 0px -208px; }
  .icon-bw-ic-5:hover {
    background-position: 0px -468px; }

.video {
  position: relative;
  margin-top: 50px;
  width: 550px;
  height: 300px; }
  .video img, .video video, .video iframe {
    display: block;
    width: 100%;
    height: 100%; }
  .video__play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background: transparent; }

.anchors nav ul li {
  display: inline-block;
  vertical-align: top;
  text-align: center; }
  .anchors nav ul li a {
    display: inline-block;
    padding: 10px;
    color: gray; }
    .anchors nav ul li a:hover {
      color: green;
      background: silver; }

.anchors__block {
  margin: 35px 0; }

.anchors__text {
  display: inline-block;
  padding: 10px;
  width: 33%;
  vertical-align: top; }

.tabs {
  margin-top: 20px; }
  .tabs li {
    display: inline-block;
    vertical-align: top;
    border: 1px solid gray; }
    .tabs li a {
      display: block;
      padding: 10px;
      color: green; }
  .tabs .tab-content {
    margin-top: 5px;
    border: 1px solid silver; }

.active {
  color: #000;
  background: #045; }

nav .nav-list li {
  display: inline-block;
  vertical-align: top; }
  nav .nav-list li a {
    display: block;
    padding: 15px;
    color: gray; }
    nav .nav-list li a:hover {
      background: silver; }

nav .nav-sub-list {
  display: none;
  position: absolute; }
  nav .nav-sub-list li {
    display: block; }

.acc * {
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300; }

.acc a {
  text-decoration: none;
  color: inherit; }

.acc p {
  font-size: 1.1em;
  margin: 1em 0; }
  .acc p .acc * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }
  .acc p .acc a {
    text-decoration: none;
    color: inherit; }
  .acc p .acc p {
    font-size: 1.1em;
    margin: 1em 0; }
  .acc p .acc .description {
    margin: 1em auto 2.25em; }
  .acc p .acc body {
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    margin: 1.5em auto;
    color: #333; }
  .acc p .acc h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 2.5em; }
  .acc p .acc ul {
    list-style: none;
    padding: 0; }
    .acc p .acc ul .inner {
      padding-left: 1em;
      overflow: hidden;
      display: none; }
      .acc p .acc ul .inner.show {
        /*display: block;*/ }
    .acc p .acc ul li {
      margin: .5em 0; }
      .acc p .acc ul li a.toggle {
        width: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.78);
        color: #fefefe;
        padding: .75em;
        border-radius: 0.15em;
        transition: background .3s ease; }
        .acc p .acc ul li a.toggle:hover {
          background: rgba(0, 0, 0, 0.9); }

.acc .description {
  margin: 1em auto 2.25em; }

.acc body {
  width: 40%;
  min-width: 300px;
  max-width: 400px;
  margin: 1.5em auto;
  color: #333; }

.acc h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 2.5em; }

.acc ul {
  list-style: none;
  padding: 0; }
  .acc ul .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none; }
    .acc ul .inner.show {
      /*display: block;*/ }
  .acc ul li {
    margin: .5em 0; }
    .acc ul li a.toggle {
      width: 100%;
      display: block;
      background: rgba(0, 0, 0, 0.78);
      color: #fefefe;
      padding: .75em;
      border-radius: 0.15em;
      transition: background .3s ease; }
      .acc ul li a.toggle:hover {
        background: rgba(0, 0, 0, 0.9); }

html {
  font-size: 16px; }
  @media (min-width: 768px) and (max-width: 1025px) {
    html {
      font-size: 14px; } }
  @media (max-width: 767px) {
    html {
      font-size: 12px; } }

body {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

ul, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

.center {
  max-width: 960px;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1025px) {
    .center {
      width: 98%; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

::-webkit-input-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis; }

::-moz-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis; }

/* Firefox 19+ */
:-moz-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis; }

/* Firefox 18- */
:-ms-input-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis; }

.words-first span,
.words-last span {
  color: red; }
